body {
    background-color: #5c1029;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

#logo {
    width: 120px;
    margin: 20px;
}

#pagina {
    background-color: #e8b7c8;
    color: #5c1029;

    width: 750px;
    margin: 20px auto;
    padding: 30px;

    border: 10px solid #5c1029;
    border-radius: 35px;
}

h1 {
    color: #5c1029;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    color: #5c1029;
    font-weight: bold;
}

p {
    font-weight: bold;
    font-size: 18px;
}

.perritas {
    display: flex;
    justify-content: center;
}

.foto {
    width: 230px;
    margin: 15px;
    border: 5px solid #5c1029;
    border-radius: 25px;
}

table {
    margin: 20px auto;
    background-color: white;
    color: #5c1029;
    border-radius: 15px;
    padding: 10px;
}

th {
    color: white;
    background-color: #5c1029;
}

td, th {
    padding: 12px;
}

tr:hover {
    background-color: #f7d6e3;
}

button {
    background-color: #5c1029;
    color: white;

    padding: 12px 20px;
    margin: 10px;

    border-radius: 20px;
    border: none;

    font-weight: bold;
}

button:hover {
    background-color: white;
    color: #5c1029;
}

#mensaje {
    color: #5c1029;
    font-size: 22px;
}

#perro {
    width: 250px;
    border: 5px solid #5c1029;
    border-radius: 25px;
    margin: 15px;
}